<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
</head>
<body>

<div class="sidebar">
    <h2>School SaaS</h2>
    <a href="#">Dashboard</a>
    <a href="#">Students</a>
    <a href="#">Attendance</a>
    <a href="#">Fees</a>
    <a href="/">Logout</a>
</div>

<div class="main">
    <h1>Welcome to Dashboard</h1>

    <div class="cards">
        <div class="card">Students</div>
        <div class="card">Attendance</div>
        <div class="card">Fees</div>
    </div>
</div>

</body>
</html>
